

/* commentary */

.explanations_area{
    width: 420px;
    margin-top: 20px;
}

.explanations_area p {
    margin-top: 10px;
    line-height: 125%;
}

/* quiz_box radio */

.quiz_box li label {
    padding-left: 22px;
    display: inline-block;
    background:url('../../images/solveQuiz/batsu.png') left 7px no-repeat;
    background-size: 15px;
}

.quiz_box li label.is {
    background:url('../../images/solveQuiz/maru.png') left 7px no-repeat;
    background-size: 15px;
}

/* move_area */

#move_area {
    background-image: url('../../images/solveQuiz/move-bar-exp.png');
    background-repeat: no-repeat;
}

.correct {
    background-image: url('../../images/solveQuiz/btn-correct.gif')left 7px no-repeat;
    background-size: 15px;
}