/*board_main*/
#board_main{
    width: 710px;
    margin: 2px 0px; 
}

/*board_search*/
#board_main > #board_search{ 
    float : right;
    background-color: #f1f8ec;
}

/*#board_section*/
#board_section{ 
    width: 710px; 
    float : right;
    margin: 5px 0px;    
    position: relative;
}

/*board_page_number*/
#board_section > #board_page_number{
    margin: 10px auto; 
}