.pwd_wrap{
    width: 670px;
    height: 300px;
    margin: 50px;
}
.pwd_img{
    width: 260px; height: 130px;
    margin: 0 auto;
}
.input_wrap {
    
    margin: 20px auto;
    width: 410px; height: 50px;
}
.input_wrap > input{
    width: 300px; height: 40px;
}
.next_btn{
    width: 100px;
    height: 40px;
    background-color: blue;
    text-align: center;
    border-radius: 3px;
    line-height: 40px;
    float:right;
}
.next_btn > a {
    display: block;
    font-weight: bolder;
    color: aliceblue;
    font-size: 20px;
}
hr{
    opacity: 0.5;
    margin: 10px auto;
}