/* content_wrap */
#content_wrap { 
    margin-left: 10px;
    width: 750px; 
    background-color: #f1f1f1;
}

/* content_title */
#content_title {
    background-color: white;
    margin: 15px; width: 720px;
}

#content_title > h3 {
    padding: 10px;
}
